.grid {
    margin: 75px auto;
    border: 1px black solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
}

.container {
    justify-self: center;
    align-self: center;
    width: 100px;
    height: 100px;
}